<!Doctype html>
<html>
<head>
<meta charset="UTF-8">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> 


<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
	<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	<script src="coockies.js"></script>
<!------ Include the above in your HEAD tag --------
<!--<link href="bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="bootstrap.min.js"></script> 
<script src="jquery.min.js"></script>-->

<link rel="stylesheet" type="text/css" href="mainAdmin.css">



</head>

<body>

<div class="container">
	<div class="row">
       
	   <ul class="ds-btn">
 
        <li>
             <a class="btn btn-lg btn-primary" href="/admin/registration/member">
          <i class="glyphicon glyphicon-user pull-left"></i><span>Добавение участников<br><small>База данных</small></span></a> 
            
        </li>
        <li>
             <a class="btn btn-lg btn-success " href="/admin/registration">
         <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Регистрация<br><small>по прибытию</small></span></a> 
            
        </li>
        <li>
             <a class="btn btn-lg btn-danger" href="/admin/online">
         <i class="glyphicon glyphicon-tasks pull-left"></i><span>ТРАНСЛЯЦИЯ<br><small>Он-лайн</small></span></a> 
            
        </li>
        <li>
               <a class="btn btn-lg btn-warning" href="/admin/edit">
        <i class="glyphicon glyphicon-search pull-left"></i><span>Поиск<br><small>Редактирование</small></span></a> 
        </li>
        <li>
               <a class="btn btn-lg btn-info" href="/admin/result">
         <i class="glyphicon glyphicon-list pull-left"></i><span>Результаты<br><small>Печать протоколов</small></span></a> 
        </li>
		<li>
               <a class="btn btn-lg btn-info" href="/admin/jury">
         <i class="glyphicon glyphicon-list pull-left"></i><span>Члены жури<br><small>регистрация и редактирование</small></span></a> 
        </li>
    </ul>
    
	</div>
</div>
		<!--	<script type="text/babel" src="mainAdmin.js" ></script> -->
			</body>
			</html>