.btn {
display: inline-block;
padding: 9px 12px;
padding-top: 7px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
color: #5e5e5e;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-color: #d1dade;
-webkit-border-radius: 3px;
-webkit-border-radius: 3px;
-webkit-border-radius: 3px;
background-image: none !important;
border: none;
text-shadow: none;
box-shadow: none;
transition: all 0.12s linear 0s !important;
font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.btn-cons {
margin-right: 5px;
min-width: 120px;
margin-bottom: 8px;
}
.btn-default {
color: #333;
background-color: #fff;
border-color: #ccc;
}
.btn-primary {
color: #fff;
background-color: #428bca;
border-color: #357ebd;
}
.btn-success {
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
}
.btn-info {
color: #fff;
background-color: #5bc0de;
border-color: #46b8da;
}
.btn-warning {
color: #fff;
background-color: #f0ad4e;
border-color: #eea236;
}
.btn-danger {
color: #fff;
background-color: #d9534f;
border-color: #d43f3a;
}
.btn-white {
color: #5e5e5e;
background-color: #fff;
border: 1px solid #e5e9ec;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
background-color: transparent;
-webkit-box-shadow: none;
box-shadow: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
border-color: transparent;
}
.btn-link {
color: #5e5e5e;
background-color: transparent;
border: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
border-color: transparent;
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
}


BODY,
			HTML {
				padding: 0px;
				margin: 0px;

			}
			BODY {
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 11px;
				background: #FFF;
				padding: 15px;
			}

			H1 {
				font-family: Georgia, serif;
				font-size: 20px;
				font-weight: normal;
			}

			H2 {
				font-family: Georgia, serif;
				font-size: 16px;
				font-weight: normal;
				margin: 0px 0px 10px 0px;
			}

			#myDiv {
				width: 150px;
				border: solid 1px #2AA7DE;
				background: #6CC8EF;
				text-align: center;
				padding: 4em .5em;
				margin: 1em;
				float: left;
			}

			#myList {
				margin: 1em;
				float: left;
-webkit-columns: 200px 3;
  -moz-columns: 200px 3;

 /*количество колонок в списке*/
  columns: 100px 1;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -webkit-column-rule: 1px solid #ccc;
  -moz-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc;
			}

			#myList UL {
				padding: 0px;
				margin: 0em 1em;
			}

	/*		#myList LI {
				width: 100px;
				border: solid 1px #2AA7DE;
				background: #6CC8EF;
				padding: 5px 5px;
				margin: 10px 0px;
				list-style: none;
				cursor: pointer;
			}*/

			#options {
				clear: left;
			}

			#options INPUT {
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 11px;
				width: 150px;
			}

			.blue{
			width: 100px;
            				border: solid 1px #2AA7DE;
            				background: #6CC8EF;
            				padding: 5px 5px;
            				margin: 10px 0px;
            				list-style: none;
            				cursor: pointer;


			}

			.green{
            			width: 100px;
                        				border: solid 1px #2AA7DE;
                        				background: #008000;
                        				padding: 5px 5px;
                        				margin: 10px 0px;
                        				list-style: none;
                        				cursor: pointer;


            			}